# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [2]:
# Write your code here
import numpy as np
import pandas as pd

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [4]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

# write your code here
df = pd.DataFrame(data)
df

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [5]:
# Write your code here
df["Age"]

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [7]:
# Write your code here
df["Salary"] = [50000, 60000, 45000]
df

    Name  Age         City  Salary
0   John   16     New York   50000
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [16]:
# Write your code here
df[df["Age"] > 18]

    Name  Age         City  Salary
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [18]:
# Write your code here
df["BirthYear"] = ["1990", "2010", "2000"]
df

    Name  Age         City  Salary BirthYear
0   John   16     New York   50000      1990
1  Emily   28  Los Angeles   60000      2010
2   Ryan   22      Chicago   45000      2000

### Task 4.2

Add new calculated field `Average age`.

In [20]:
# Write your code here
df["AverageAge"] = df["Age"].mean()
df

    Name  Age         City  Salary BirthYear  AverageAge
0   John   16     New York   50000      1990        22.0
1  Emily   28  Los Angeles   60000      2010        22.0
2   Ryan   22      Chicago   45000      2000        22.0

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [23]:
# Write your code here
df["Age"].subtract(df["AverageAge"]).abs()

0    6.0
1    6.0
2    0.0
dtype: float64

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [26]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

# create DataFrame objects
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [33]:
# merge
df1.merge(df2, on="Name", how="outer")

    Name   Age         City
0  Emily  28.0  Los Angeles
1   John  25.0          NaN
2   Mike   NaN      Houston
3   Ryan  22.0      Chicago

In [39]:
# concatenate
pd.concat([df1, df2])

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [50]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [42]:
# use + operator here
s1 + s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [43]:
# use - operator here
s1 - s2

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [44]:
# use * operator here
s1 * s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [45]:
# use / operator here
s1 / s2

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [46]:
# use ** operator here
s1 ** s2

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [47]:
# use // operator here
s1 // s2

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [48]:
# use % operator here
s1 % s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [55]:
# filter s1 here
s1[s1 % 2 == 0]

1    2
3    4
dtype: int64

In [56]:
# filter s2 here
s2[s2 % 2 == 1]

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [57]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [58]:
# make all words in uppercase
s.apply(lambda x: x.upper())

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [59]:
# get length of each word
s.apply(lambda x: len(x))

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [64]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10_000_000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: user 8.86 s, sys: 623 ms, total: 9.48 s
Wall time: 11.3 s

[39.6, 47.2, 44.6, 43.0, 52.8, 51.8, 46.0, 50.8, 54.8, 50.0]

### Solution using Pandas and Numpy

In [84]:
# write your code here
arr = np.random.randint(1, 100, 10_000)

series = pd.Series(arr)

moving_averages = series.rolling(window=5).mean()

%time moving_averages

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 6.91 µs

0        NaN
1        NaN
2        NaN
3        NaN
4       50.0
        ...
9995    37.2
9996    37.4
9997    30.0
9998    30.2
9999    28.2
Length: 10000, dtype: float64