# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [24]:
import datetime
import pandas as pd
import numpy as np

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [32]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [33]:
df["Age"]

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [36]:
df["Salary"] = [50000, 60000, 45000]

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [30]:
filtered_df = df[df["Age"] > 18]
filtered_df

    Name  Age         City  Salary  Birth year
1  Emily   28  Los Angeles   60000        1995
2   Ryan   22      Chicago   45000        2001

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [27]:
current_year = datetime.datetime.now().year
df["Birth year"] = current_year - df["Age"]

### Task 4.2

Add new calculated field `Average age`.

In [52]:
df["Average age"] = df["Age"].mean()

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [53]:
age_abs_difference = abs(df["Age"] - df["Average age"])
age_abs_difference

0    6.0
1    6.0
2    0.0
dtype: float64

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [66]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [71]:
pd.concat([df1, df2], axis=1)

    Name  Age   Name         City
0   John   25  Emily  Los Angeles
1  Emily   28   Ryan      Chicago
2   Ryan   22   Mike      Houston

In [80]:
pd.merge(df1, df2)

    Name  Age         City
0  Emily   28  Los Angeles
1   Ryan   22      Chicago

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [82]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [83]:
s1 + s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [ ]:
s1 - s2

In [84]:
s1 * s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [85]:
s1 / s2

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [86]:
s1 ** s2

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [87]:
s1 // s2

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [88]:
s1 % s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [100]:
s1[s1 % 2 == 0]

1    2
3    4
dtype: int64

In [101]:
s2[s2 % 2 != 0]

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [103]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [105]:
s.str.upper()

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [106]:
s.str.len()

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [8]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: user 6.38 s, sys: 120 ms, total: 6.5 s
Wall time: 6.5 s

[56.6, 44.0, 41.8, 36.8, 28.8, 34.4, 47.8, 60.8, 57.6, 65.4]

### Solution using Pandas and Numpy

In [11]:
import pandas as pd
import numpy as np

def moving_average_with_pandas_numpy():
    data = np.random.randint(1, 101, size=10000000)
    data_series = pd.Series(data)
    moving_averages = data_series.rolling(window=5).mean().dropna().tolist()

    return moving_averages[:10]

%time moving_average_with_pandas_numpy()

CPU times: user 365 ms, sys: 200 ms, total: 565 ms
Wall time: 563 ms

[53.0, 71.4, 76.6, 68.4, 59.8, 46.0, 35.2, 28.8, 30.6, 48.0]