# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [27]:
import numpy as np
import pandas as pd
from datetime import datetime
import time

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [28]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
df

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [29]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
age_column = df["Age"]
age_column

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [30]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
df["Salary"] = [50000, 60000, 45000]
df

    Name  Age         City  Salary
0   John   16     New York   50000
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [31]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
filtered_df = df[df["Age"] > 18]
filtered_df

    Name  Age         City
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [32]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)

current_year = datetime.now().year
df["Birth year"] = current_year - df["Age"]

df

    Name  Age         City  Birth year
0   John   16     New York        2007
1  Emily   28  Los Angeles        1995
2   Ryan   22      Chicago        2001

### Task 4.2

Add new calculated field `Average age`.

In [33]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
    "Birth date": current_year - df["Age"]
}

df = pd.DataFrame(data)

average_age = df["Age"].mean()
df["Average age"] = int(average_age)

df

    Name  Age         City  Birth date  Average age
0   John   16     New York        2007           22
1  Emily   28  Los Angeles        1995           22
2   Ryan   22      Chicago        2001           22

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [34]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
    "Birth date": current_year - df["Age"]
}

df = pd.DataFrame(data)

average_age = df["Age"].mean()
df["Average age"] = average_age

df["Absolute difference"] = abs(df["Age"] - df["Average age"])

df

    Name  Age         City  Birth date  Average age  Absolute difference
0   John   16     New York        2007         22.0                  6.0
1  Emily   28  Los Angeles        1995         22.0                  6.0
2   Ryan   22      Chicago        2001         22.0                  0.0

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [35]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [36]:
merged_df = pd.merge(df1, df2, on='Name', how='outer')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0  Los Angeles
2   Ryan  22.0      Chicago
3   Mike   NaN      Houston

In [37]:
concatenated_df = pd.concat([df1, df2], axis=0)
print("\nConcatenated DataFrame:")
print(concatenated_df)

Concatenated DataFrame:
    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [38]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [39]:
addition = s1 + s2
print("Addition:")
print(addition)

Addition:
0     7
1     9
2    11
3    13
4    15
dtype: int64

In [40]:
subtraction = s1 - s2
print("\nSubtraction:")
print(subtraction)

Subtraction:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [41]:
multiplication = s1 * s2
print("Multiplication:")
print(multiplication)

Multiplication:
0     6
1    14
2    24
3    36
4    50
dtype: int64

In [42]:
division = s1 / s2
print("\nDivision:")
print(division)

Division:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [43]:
exponentiation = s1 ** s2
print("\nExponentiation:")
print(exponentiation)

Exponentiation:
0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [44]:
floor_division = s1 // s2
print("\nFloor Division:")
print(floor_division)

Floor Division:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [45]:
modulus = s1 % s2
print("\nModulus:")
print(modulus)

Modulus:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [46]:
filter_s1 = s1[s1 % 2 == 0]
print("\nEven numbers in s1:")
print(filter_s1)

Even numbers in s1:
1    2
3    4
dtype: int64

In [47]:
filter_s2 = s2[s2 % 2 != 0]
print("\nOdd numbers in s2:")
print(filter_s2)

Odd numbers in s2:
1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [48]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [49]:
uppercase_s = s.str.upper()
print("Uppercase words:")
print(uppercase_s)

Uppercase words:
0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [50]:
word_length = s.str.len()
print("\nLength of each word:")
print(word_length)

Length of each word:
0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [51]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: user 8.28 s, sys: 471 ms, total: 8.75 s
Wall time: 8.8 s

[28.4, 36.0, 42.8, 43.6, 60.8, 64.0, 52.0, 51.0, 41.4, 28.4]

### Solution using Pandas and Numpy

In [52]:
data = np.random.randint(1, 100, size=10000000)

start_time = time.time()
moving_averages = pd.Series(data).rolling(window=5, min_periods=1).mean().to_numpy()
moving_averages = moving_averages[~np.isnan(moving_averages)]

end_time = time.time()
execution_time = end_time - start_time

print(f"CPU times: user {execution_time:.2f} s, sys: 0.00 s, total: {execution_time:.2f} s")
print(f"Wall time: {execution_time:.2f} s")
print(moving_averages[:10])

CPU times: user 0.48 s, sys: 0.00 s, total: 0.48 s
Wall time: 0.48 s
[55.         53.5        39.66666667 43.         49.         44.8
 49.2        48.2        51.2        44.8       ]