# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [3]:
import pandas as pd
import numpy as np

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [6]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)
print(df)

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [11]:
df.Age

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [14]:
salary = pd.Series([50000, 60000, 45000], name="Salary")
df["Salary"] = salary
print(df)

    Name  Age         City  Salary
0   John   16     New York   50000
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [15]:
df[df["Age"] > 18]

    Name  Age         City  Salary
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [16]:
from datetime import datetime
df["current_year"] = datetime.now().year
df["Birth_year"] = df["current_year"] - df["Age"]
print(df)

    Name  Age         City  Salary  current_year  Birth_year
0   John   16     New York   50000          2024        2008
1  Emily   28  Los Angeles   60000          2024        1996
2   Ryan   22      Chicago   45000          2024        2002

### Task 4.2

Add new calculated field `Average age`.

In [17]:
df["Average_age"] = df["Age"].mean()
print(df)

    Name  Age         City  Salary  current_year  Birth_year  Average_age
0   John   16     New York   50000          2024        2008         22.0
1  Emily   28  Los Angeles   60000          2024        1996         22.0
2   Ryan   22      Chicago   45000          2024        2002         22.0

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [18]:
df["Absolute_Difference"] = abs(df["Age"] - df["Average_age"])
print(df)

    Name  Age         City  Salary  current_year  Birth_year  Average_age  \
0   John   16     New York   50000          2024        2008         22.0
1  Emily   28  Los Angeles   60000          2024        1996         22.0
2   Ryan   22      Chicago   45000          2024        2002         22.0

   Absolute Difference
0                  6.0
1                  6.0
2                  0.0

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [19]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2= pd.DataFrame(data2)
print(df1)
print(df2)

    Name  Age
0   John   25
1  Emily   28
2   Ryan   22
    Name         City
0  Emily  Los Angeles
1   Ryan      Chicago
2   Mike      Houston

In [23]:
result = pd.merge(df1, df2, on="Name")
print(result)

    Name  Age         City
0  Emily   28  Los Angeles
1   Ryan   22      Chicago

In [20]:
frames = [df1, df2]
results = pd.concat(frames)
print(results)

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [27]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [28]:
addition = s1 + s2
print(addition)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [29]:
sub = s1 - s2
print(sub)

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [30]:
mult = s1 * s2
print(mult)

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [31]:
div = s1 / s2
print(div)

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [32]:
exponent = s1 ** s2
print(exponent)

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [33]:
fl_div = s1 // s2
print(fl_div)

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [34]:
mod = s1 % s2
print(mod)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [35]:
even_num_s1 = s1[s1 % 2 == 0]
print(even_num_s1)

1    2
3    4
dtype: int64

In [36]:
odd_num_s2 = s2[s2 % 2 != 0]
print(odd_num_s2)

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [38]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [39]:
upper = s.str.upper()
print(upper)

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [42]:
length = len(s)
print(length)

3

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [43]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: user 10.3 s, sys: 427 ms, total: 10.7 s
Wall time: 18.4 s

[59.4, 53.8, 62.2, 52.6, 53.6, 57.6, 57.2, 44.4, 51.6, 34.8]

### Solution using Pandas and Numpy

In [51]:
import random
data = [random.randint(1, 100) for _ in range(10000000)]
pd_data = pd.Series(data)
moving_averages = pd_data.rolling(window=5, min_periods=1).mean()
print(moving_averages[:10])

%time unknown_signature()

0    51.000000
1    64.500000
2    62.333333
3    52.500000
4    50.400000
5    51.400000
6    51.200000
7    51.400000
8    58.600000
9    64.600000
dtype: float64
CPU times: user 8.81 s, sys: 391 ms, total: 9.2 s
Wall time: 9.38 s

[36.0, 48.4, 47.8, 46.0, 51.2, 49.0, 39.2, 35.6, 23.4, 20.0]