# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [1]:
!pip install numpy

Collecting numpy
  Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
Using cached numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
Installing collected packages: numpy
Successfully installed numpy-1.26.4

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\alims\projects\py-pandas\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alims\projects\py-pandas\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\alims\projects\py-pandas\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 656.4 kB/s eta 0:00:18
    --------------------------------------- 0.2/11.6 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.4/11.6 MB 2.1 MB/s eta 0:00:06
   -- ------------------------------------- 0.7/11.6 MB 3.1 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.6 MB 3.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.6 MB 4.1 MB/s eta 0:00:03
   ----- ---------------------------------- 1.5/11.6 MB 4.0 MB/s eta 0:00:03
   ----- ---------------------------------- 1.7/11.6 MB 4.2 MB/s eta 0:00:03
   ------ --------------------------------- 2.0/11.6 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.2/11.6 MB 4.2 MB/s eta 0:00:03
   ------- -------------------------------- 2.3/11.6 MB 4.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.5/11.6 MB 4.1 MB/s eta 0:00:03
   --------- ------------------------------ 2.8/11.6 MB 4.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.0/11.6 MB 4.3 MB/s eta 0:00:02
   ----------- ---------------------------- 3.2/11.6 MB 4.3 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.6 MB 4.2 MB/s eta 0:00:02
   ------------ --------------------------- 3.6/11.6 MB 4.4 MB/s eta 0:00:02
   ------------- -------------------------- 3.9/11.6 MB 4.4 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.6 MB 4.5 MB/s eta 0:00:02
   -------------- ------------------------- 4.3/11.6 MB 4.5 MB/s eta 0:00:02
   -------------- ------------------------- 4.3/11.6 MB 4.5 MB/s eta 0:00:02
   --------------- ------------------------ 4.4/11.6 MB 4.1 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/11.6 MB 4.1 MB/s eta 0:00:02
   ---------------- ----------------------- 4.8/11.6 MB 4.1 MB/s eta 0:00:02
   ----------------- ---------------------- 5.0/11.6 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.6 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 5.4/11.6 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 5.6/11.6 MB 4.1 MB/s eta 0:00:02
   --------------------- ------------------ 6.2/11.6 MB 4.3 MB/s eta 0:00:02
   ---------------------- ----------------- 6.4/11.6 MB 4.3 MB/s eta 0:00:02
   ----------------------- ---------------- 6.7/11.6 MB 4.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.9/11.6 MB 4.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.6 MB 4.4 MB/s eta 0:00:02
   ------------------------- -------------- 7.4/11.6 MB 4.4 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.6 MB 4.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.9/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.6 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 9.3/11.6 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 4.7 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 4.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 5.0 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.6 MB 5.0 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 5.0 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 4.5 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 4.4 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [3]:
import pandas as pd
import numpy as np

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [5]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}
df = pd.DataFrame(data)

# write your code here

    Name  Age         City
0   John   16     New York
1  Emily   28  Los Angeles
2   Ryan   22      Chicago

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [6]:
df["Age"]

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [10]:
df["Salary"] = np.array([50000, 60000, 45000])

Name      object
Age        int64
City      object
Salary     int32
dtype: object

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [14]:
df[df['Age'] > 18]

    Name  Age         City  Salary
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [16]:
df["Birth year"] = 2024 - df["Age"]
df

    Name  Age         City  Salary  Birth year
0   John   16     New York   50000        2008
1  Emily   28  Los Angeles   60000        1996
2   Ryan   22      Chicago   45000        2002

### Task 4.2

Add new calculated field `Average age`.

In [19]:
df["Average age"] = df["Age"].mean()
df

    Name  Age         City  Salary  Birth year  Average age
0   John   16     New York   50000        2008         22.0
1  Emily   28  Los Angeles   60000        1996         22.0
2   Ryan   22      Chicago   45000        2002         22.0

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [21]:
absolute_difference = (df["Age"] - df["Average age"]).abs()
absolute_difference

0    6.0
1    6.0
2    0.0
dtype: float64

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [22]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [26]:
df3 = pd.merge(df1, df2, on="Name", how="outer")
df3# merge

    Name   Age         City
0  Emily  28.0  Los Angeles
1   John  25.0          NaN
2   Mike   NaN      Houston
3   Ryan  22.0      Chicago

In [28]:
# concatenate
df4 = pd.concat([df1,df2])
df4

    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
0  Emily   NaN  Los Angeles
1   Ryan   NaN      Chicago
2   Mike   NaN      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [30]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [31]:
# use + operator here
s1 + s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [32]:
# use - operator here
s1 - s2

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [33]:
# use * operator here
s1 * s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [34]:
# use / operator here
s1 / s2

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [35]:
# use ** operator here
s1 ** s2

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [36]:
# use // operator here
s1 // s2

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [37]:
# use % operator here
s1 % s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [38]:
# filter s1 here
s1[s1 % 2 == 0]

1    2
3    4
dtype: int64

In [39]:
# filter s2 here
s2[s2 % 2 != 0]

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [41]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [42]:
# make all words in uppercase
s.str.upper()

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [43]:
# get length of each word
s.str.len()

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [44]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: total: 5.33 s
Wall time: 7.54 s

[44.0, 31.2, 16.8, 23.4, 22.0, 18.0, 23.2, 32.4, 41.6, 59.8]

### Solution using Pandas and Numpy

In [57]:
# write your code here

def unknown_pd_signature():
    data_np = np.random.rand(1000000)
    s_series = pd.Series(data_np)
    moving_averages_pandas = s_series.rolling(window=5).mean().dropna()
    return moving_averages_pandas.head(10)

%time unknown_pd_signature()

CPU times: total: 15.6 ms
Wall time: 64.4 ms

4     0.455263
5     0.454720
6     0.473556
7     0.601126
8     0.593819
9     0.634336
10    0.661998
11    0.730371
12    0.703375
13    0.679327
dtype: float64