# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [1]:
import numpy as np
import pandas as pd

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [4]:
data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df_users = pd.DataFrame(data)

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [5]:
df_users["Age"]

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [8]:
df_users["Salary"] = [50000, 60000, 45000]

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [9]:
df_users[df_users["Age"] > 18]

    Name  Age         City  Salary
1  Emily   28  Los Angeles   60000
2   Ryan   22      Chicago   45000

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [12]:
df_users["Birth year"] = 2023 - df_users["Age"]
df_users

    Name  Age         City  Salary  Birth year
0   John   16     New York   50000        2007
1  Emily   28  Los Angeles   60000        1995
2   Ryan   22      Chicago   45000        2001

### Task 4.2

Add new calculated field `Average age`.

In [13]:
df_users["Average age"] = df_users["Age"].median()
df_users

    Name  Age         City  Salary  Birth year  Average age
0   John   16     New York   50000        2007         22.0
1  Emily   28  Los Angeles   60000        1995         22.0
2   Ryan   22      Chicago   45000        2001         22.0

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [14]:
np.abs(df_users["Age"] - df_users["Average age"])

0    6.0
1    6.0
2    0.0
dtype: float64

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [16]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

df_data1 = pd.DataFrame(data1)
df_data2 = pd.DataFrame(data2)

In [17]:
df_merged = pd.merge(df_data1, df_data2, on="Name")

In [20]:
df1 = df_data1[["Name", "Age"]].copy()
df2 = df_data2[["City"]].copy()

df_concatenated = pd.concat([df1, df2], axis=1)
df_concatenated

    Name  Age         City
0   John   25  Los Angeles
1  Emily   28      Chicago
2   Ryan   22      Houston

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [21]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [22]:
s1 + s2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [24]:
s2 - s1

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [25]:
s1 * s2

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [28]:
np.round(s2 / s1)

0    6.0
1    4.0
2    3.0
3    2.0
4    2.0
dtype: float64

In [29]:
s1 ** s2

0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [31]:
s2 // s1

0    6
1    3
2    2
3    2
4    2
dtype: int64

In [32]:
s2 % s1

0    0
1    1
2    2
3    1
4    0
dtype: int64

In [33]:
s1[s1 % 2 == 0]

1    2
3    4
dtype: int64

In [34]:
s2[s2 % 2 == 1]

1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [36]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [39]:
s.apply(lambda x: x.upper())

0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [40]:
s.apply(lambda x: len(x))

0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [66]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: total: 12.5 s
Wall time: 13.2 s

[36.4, 46.6, 56.6, 58.8, 48.2, 48.4, 39.2, 22.2, 30.4, 45.2]

### Solution using Pandas and Numpy

In [68]:
import random 

def unknown_signature_pd():
    data = np.array([random.randint(1, 100) for _ in range(10000000)])
    series = pd.Series(data)
    moving_average = series.rolling(window=5).mean().dropna().to_list()
    return moving_average[:10]

%time unknown_signature_pd()

CPU times: total: 9.7 s
Wall time: 10.6 s

[63.0, 61.8, 51.0, 48.8, 50.6, 61.0, 60.2, 76.6, 63.4, 66.0]